#Obnoxious files in general
*.~
*.sh~
*~
*.kate-swp
.directory

Thumbs.db

#Backups, packages, etc

*.iso
*.rar
*.zip

#logs

*.log
*.dump

#Others
source/*.pyc
.dox

#folders
logs/*
player/*
tests/*
