#Obnoxious files in general
*.~
*.sh~
*~
*.kate-swp

Thumbs.db

#Backups, packages, etc

*.iso
*.rar
*.zip

#logs

*.log
*.dump

#Others
source/*.pyc
.dox

#folders
logs/* #log folder
player/* #player save folder
tests/* #tests folder
