#Obnoxious files in general
*.~
*.sh~
*~
*.kate-swp

Thumbs.db

#Backups, packages, etc

*.iso
*.rar
*.zip

#logs

*.log
*.dump

#Others
.pyc
.dox

#folders
./logs/* #log folder
./player/* #player save folder
